# Visual studio
.vs/
x64/
*.bak

# My own filenames
*.csp

# Prerequisites
*.d

# vcpkg
vcpkg_installed/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Allow models in thoery
#!/Models/*.o
#!/Models/*.obj
!/Models/*.mtl
*.mtl
Models/
Audio/

/imgui
imgui.ini
/Textures/skybox
/Levels
/Shaders/external

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib



# Executables
*.exe
*.out
*.app
*.csp
uniform.csp
failed_shader.txt
*.log
